/* global */
:root {
  /* font-size */
  --font-size-xlarge: 35px;
  --font-size-large: 2.5em;
  --font-size-medium: 1.8em;
  --font-size-small: 1.4em;

  /* color */
  --color-yellow: #fcba03;
  --color-yellow-opacity3: rgba(252, 186, 3, 0.3);
  --color-second-blue: #e1f5fe;
  --color-dark-blue: #8aacc8;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-highlight-color: #30516b;
  --color-background-gray: rgba(185, 200, 210, 0.2);
  --color-light-gray: rgba(185, 200, 210, 0.8);
  --color-red: #c4183a;

  /* font bold */
  --font-bold-basic: 600;
  --font-bold-semi: 700;
  --font-bold: 800;

  /* base */
  --base-xlarge: 30px;
  --base-normal: 20px;
  --base-small: 15px;
  --base-xsmall: 10px;

  /* radius */
  --radius-border: 12px;
}
/* universal */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body,
ul,
li,
table,
p {
  margin: 0;
  padding: 0;
}
p {
}
li {
  list-style: none;
  cursor: default;
}
button {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* container */
body {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  font-size: var(--font-size-medium);
  background-color: var(--color-background-gray);
  align-items: center;
}
.dash-board {
  width: 100%;
  margin: var(--base-xlarge) auto;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.dash-board__content {
  width: 75%;
  margin: auto;
  background-color: var(--color-white);
  border-radius: var(--radius-border);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  position: relative;
}

/*dash-board  header */
.dash-board__header {
  background-color: var(--color-yellow);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  font-family: "Rajdhani", sans-serif;
  padding: var(--base-small);
  border-top-left-radius: var(--radius-border);
  border-top-right-radius: var(--radius-border);
  position: relative;
  font-size: var(--font-size-small);
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* content */
.dash-board__inner-content {
  display: flex;
  width: 100%;
  max-height: calc(100% - 70px);
  min-height: calc(100% - 70px);
  margin-top: 70px;
}

.dash-board-menu__list {
  display: flex;
  justify-content: flex-end;
}
.dash-board-menu__list .menu__item {
  cursor: pointer;
  padding: 0 var(--base-small);
  border: 2px solid transparent;
}
.dash-board-menu__list .menu__item:hover {
  color: black;
}

.nav__toggle-btn {
  display: none;
}
.nav {
  width: 100%;
  text-align: right;
}
.dash-board__todo {
  width: 80%;
  padding: var(--base-normal);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.todo__header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__header .todo__info {
  display: inline-block;
}
.todo__header .btn__delete-mod {
  border: 2px solid var(--color-black);
  padding: var(--base-xsmall);
  border-radius: var(--radius-border);
  margin-right: var(--base-xlarge);
}
.todo__header .btn__delete-mod.active,
.todo__header .btn__delete-mod:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  border: 2px solid var(--color-white);
}
.dash-board__todo .todo__header .title {
  font-size: var(--font-size-large);
}
.dash-board__todo .todo__header .todo__date {
  font-size: var(--font-size-small);
  color: #707070;
  font-weight: var(--font-bold);
}
.dash-board__todo .todo__list {
  font-family: "Do Hyeon", sans-serif;
  padding: var(--base-xlarge) 0;
  overflow: auto;
  align-items: stretch;
  margin-bottom: calc(var(--base-xlarge) * 2);
}
.todo__item {
  border-radius: var(--radius-border);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 95%;
  padding: var(--base-small);
  margin: var(--base-small) 5px;
  font-size: var(--base-normal);
  position: relative;
  overflow: hidden;
}
.todo__item .todo__content {
  display: inline;
}
.todo__item[data-status="checked"] {
  text-decoration: line-through;
  color: var(--color-light-gray);
}
.todo__item[data-status="deleted"] {
  display: none;
}

.todo__list .todo__item .fa-circle-check {
  position: absolute;
  right: var(--base-xlarge);
  top: 50%;
  transform: translateY(-50%);
}
.todo__list .todo__item .fa-circle-minus {
  font-size: var(--base-normal);

  padding-right: 5px;
  color: var(--color-red);
  transform: translateX(-50px);
  transition: transform 300ms ease-out;
}

.todo__list.delete-mod .todo__item .fa-circle-minus {
  transform: translateX(0px);
}

.todo__form {
  /* width: calc(100% - var(--base-normal) * 2); */
  width: 95%;
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: var(--base-small);
  margin-top: var(--base-normal);
  position: absolute;
  bottom: var(--base-small);
}
.todo__form .todo__input {
  border: 2px solid var(--color-light-gray);
  border-radius: var(--radius-border);
  font-size: var(--base-small);
  padding-left: var(--base-xsmall);
}
.todo__form .todo__add-btn {
  background-color: var(--color-yellow);
  border-radius: var(--radius-border);
  color: var(--color-white);
}

/* calendar */
.sideMenu__container {
  min-width: 25%;
}
.calendar__container {
  padding: var(--base-normal);
  background-color: var(--color-white);
  text-align: center;
  border-radius: var(--radius-border);
}
.title {
  font-size: var(--font-size-large);
}
.calendar__header {
  font-size: var(--font-size-small);
  position: relative;
}
.calendar__header .calendar__month {
  display: inline;
}
.calendar__btn-left {
  position: absolute;
  left: 2px;
}
.calendar__btn-right {
  position: absolute;
  right: 2px;
}
.calendar__body {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  cursor: pointer;
  margin: auto;
}
.calendar__body th {
  color: var(--color-light-gray);
  text-transform: capitalize;
}

.calendar__body td,
th {
  height: 40px;
  width: 40px;
  position: relative;
}
.calendar__body td.selected span {
  display: inline-block;
  background-color: var(--color-yellow);
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
/* note */

.note__container {
  padding: var(--base-normal);
  background-color: var(--color-white);
  text-align: center;
  border-radius: var(--radius-border);
  display: none;
}

.note__content {
  margin-top: var(--base-small);
  max-height: 70%;
  min-height: 200px;
}
.note-btn {
  display: block;
  margin: var(--base-xsmall) auto;
  border: 2px solid black;
  border-radius: var(--radius-border);
  padding: calc(var(--base-xsmall) / 2) var(--base-xsmall);
}
@media screen and (max-width: 1200px) {
  .sideMenu__container {
    width: 40%;
  }
  .todo__form .todo__add-btn {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .calendar__container {
    display: none;
  }
  .dash-board__todo {
    width: 100%;
  }
  .dash-board-menu__list .menu__item {
    font-size: 15px;
    text-align: center;
  }
  .dash-board-menu__list .menu__item i {
    padding-right: 0;
    display: block;
  }
  .todo__form .todo__input {
    font-size: 12px;
  }
  .todo__form {
    column-gap: 5px;
  }

  .todo__header .btn__delete-mod {
    margin-right: 1px;
  }
  .dash-board-menu__list {
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    display: none;
  }
  .dash-board-menu__list.nav--show {
    display: block;
  }
  .dash-board-menu__list .menu__item {
    padding-top: var(--base-xsmall);
    line-height: var(--font-size-small);
  }
  .dash-board__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__toggle-btn {
    display: block;
    position: absolute;
    right: var(--base-small);
  }
  .todo__form .todo__add-btn {
    width: 80%;
  }
}
